# no .svn direcrories
.svn/
bin/

# no compiled object file
*.[oa]
*.so
*.pyc

# no temporary file
*~
*.out
*.aux
*.log
*.eps
*.tif
*.dvi
*.swp

# no binaries
test
construct
scan
multiscan

# no other testing stuff
tmp*
